<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :is_male %>
    <%= form.check_box :is_male %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :desexed %>
    <%= form.check_box :desexed %>
  </div>

  <div class="field">
    <%= form.label :can_walk_offleash %>
    <%= form.check_box :can_walk_offleash %>
  </div>

  <div class="field">
    <%= form.label :can_be_petted %>
    <%= form.check_box :can_be_petted %>
  </div>

  <div class="field">
    <%= form.label :can_walk_with_other_dogs %>
    <%= form.check_box :can_walk_with_other_dogs %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
